snippet {
	{{ ${1} }}
snippet %
	{% ${1} %}
snippet #
	{# ${1} #}
snippet comment
	{% comment %}
	${1}
	{% endcomment %}
snippet extends
	{% extends ${1:"Layout.html"} %}
snippet include
	{% include "${1}" %}
snippet block
	{% block ${1} %}
	${2}
	{% endblock %}
snippet if
	{% if ${1} %}
	${2}
	{% endif %}
snippet elif
	{% elif ${1} %}
	${2}
snippet else
	{% else %}
	${1}
snippet for
	{% for ${1} in ${2} %}
	${3}
	{% endfor %}
