snippet env
	#!/usr/bin/env python
	# -*- coding: utf-8 -*-
snippet utf
	# coding: utf-8
snippet __main__
	if __name__ == "__main__":
	    ${1:main()}
snippet cl
	class
snippet from
	from ${1} import ${2}
snippet imp
	import ${1}
snippet frein
	sys.stdin = open("input.txt")
snippet freout
	sys.stdout = open("output.txt", "w+")
snippet lambda
	${1:var} = lambda ${2:args}: ${3:value}
