snippet env
#!/usr/bin/env bash
endsnippet

snippet for
for (( ${2:i} = 0; $2 < ${1:count}; $2++ )); do
	${3:#statements}
done
endsnippet

snippet if
if [[ ${1:condition} ]]; then
	${2:#statements}
fi
endsnippet

snippet elif
elif [[ ${1:condition} ]]; then
	${2:#statements}
endsnippet

snippet while
while [[ ${1:condition} ]]; do
	${2:#statements}
done
endsnippet
